

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 20px; left: 154px; width: 1006px; height: 560px;
        }
        .silex-id-1637732010343-7 {top: 0px; left: 580px; height: 20px; width: 260px; font-weight: bold;
        }
        .silex-id-1637732233011-17 {top: 25px; left: 770px; height: 1.4em; width: 40px;
        }
        .silex-id-1637732248972-18 {top: 25px; left: 910px; height: 1.4em; width: 40px;
        }
        .silex-id-1637732298571-19 {top: 50px; left: 580px; height: 20px; width: 240px;
        }
        .silex-id-1637732318263-20 {top: 50px; left: 810px; height: 20px; width: 40px;
        }
        .silex-id-1637732335479-22 {top: 50px; left: 860px; height: 20px; width: 100px;
        }
        .silex-id-1637732350717-23 {top: 25px; left: 820px; height: 20px; width: 100px;
        }
        .silex-id-1637732381777-24 {top: 50px; left: 950px; height: 22px; width: 40px;
        }
        .silex-id-1637732600426-26 {top: 25px; left: 580px; height: 20px; width: 200px;
        }
        .silex-id-1637731782823-3 > .CTATTable--row > .CTATTable--cell {width: 98px; height: 29px; background-color: rgb(255, 255, 255, 0);
        }
        .silex-id-1637732035904-9 {top: 90px; left: 580px; height: 20px; width: 260px; font-weight: bold;
        }
        .silex-id-1637960245628-3 {top: 115px; left: 580px; height: 80px; width: 420px; line-height: 130%;
        }
        .silex-id-1637967726558-3 {top: 210px; left: 0px; height: 200px; width: 560px; font-family: "Courier New", "Courier New", Courier, monospace; line-height: 135%; font-size: 11pt;
        }
        .silex-id-1638499003013-0 {top: 0px; left: 0px; height: 160px; width: 560px; line-height: 150%;
        }
        .silex-id-1637731805266-4 > .CTATTable--row > .CTATTable--cell {width: 58px; height: 29px; background-color: rgb(255, 255, 255, 0);
        }
        .silex-id-1638589381456-6 > div > div {border-width: 0px; border-style: none;
        }
        .silex-id-1638589238891-4 > div > div > textarea {color: rgb(9, 8, 8); background-color: rgb(255, 255, 255); font-family: Arial, Arial, Helvetica, sans-serif;
        }
        .silex-id-1637731633052-0 {top: 450px; left: 20px; height: 140px; width: 460px;
        }
        .silex-id-1638589381456-6 > .CTATTable--row > .CTATTable--cell {width: 120px; height: 31px; background-color: rgb(255, 255, 255, 0);
        }
        .silex-id-1637731782823-3 {top: 240px; left: 900px; height: 340px; width: 100px;
        }
        .silex-id-1637731805266-4 {top: 240px; left: 840px; height: 340px; width: 60px; 
        }
        .silex-id-1637966964374-6 {top: 220px; left: 840px; height: 20px; width: 60px; font-size: 15px; text-align: center; font-weight: bold; border-width: 1px; border-style: solid;
        }
        .silex-id-1637966976114-7 {top: 220px; left: 900px; height: 20px; width: 100px; font-size: 15px; text-align: center; font-weight: bold; border-width: 1px; border-style: solid;
        }
        .silex-id-1638589238891-4 {top: 240px; left: 580px; height: 340px; width: 260px;
        }
        .silex-id-1638589238891-4 > .CTATTable--row > .CTATTable--cell {width: 260px; height: 29px; background-color: rgb(255, 255, 255, 0);
        }
        .silex-id-1637966950563-5 {top: 220px; left: 580px; height: 20px; width: 260px; font-size: 15px; text-align: center; font-weight: bold; border-width: 1px; border-style: solid;
        }
        .silex-id-1638589381456-6 {top: 240px; left: 700px; height: 340px; width: 120px; 
        }
    